doctype html
html(ng-app="ArtShop")
  head
    title= title
    link(rel='stylesheet', href='/css/style.css')
    script(src='/bower_components/angular/angular.js', type="text/javascript")
    script(src='/bower_components/angular-resource/angular-resource.min.js', type="text/javascript")
    script(src='/bower_components/angular-route/angular-route.min.js', type="text/javascript")
    script(src='/js/app/app.js', type="text/javascript")
  body(ng-controller="AppCtrl")
    div.header
      div.title
        span= title
      div.menu
        ul
          li 
            a(href="/account/register") register
          li 
            a(href="/account/login") login
    div.content
      block content
